@font-face {
  font-family: "Crackman";
  src: url("../fonts/crackman front.ttf") format("truetype");
  font-family: "Orange kid";
  src: url("../fonts/orange\ kid.ttf") format("truetype");
  font-family: "Youre gone";
  src: url("../fonts/youre\ gone.otf") format("truetype");
}

h1 {
  font-family: "Crackman", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  font-family: "Youre gone", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h3 {
  font-family: "Orange kid", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
}

.nav {
  position: absolute;
  top: 7vh;
  right: 5vw;
  color: #fc9935;
  font-size: 1.5em;
}

header {
  border-left: calc(2 * 49vw) solid #fc9935;
  border-bottom: 60px solid #7d43a3;
  border-top: 60px solid #7d43a3;
  border-right: 0px solid transparent;
  margin-bottom: 60px;
}

.logo {
  position: absolute;
  top: 2vh;
  left: 1.5vw;
}

body {
  background-color: #fc9935;
  margin: 0px;
}

footer {
  background-color: #7d43a3;
}

.cta-yes {
  background-color: #039141;
  color: #fc9935;
  font-family: "Orange kid";
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 45px;
  border-color: #039141;
  margin: 20px;
  max-height: 15vh;
}

.cta-no {
  background-color: #d13838;
  color: #fc9935;
  font-family: "Orange kid";
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 45px;
  border-color: #d13838;
  margin: 20px;
  max-height: 15vh;
}

/* Links */

a {
  text-decoration: none;
}

/* Home Page */

.home {
  background-color: #7d43a3;
  color: #fc9935;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 80px;
  border: 0px;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 90px;
  width: 1850px;
  height: 140px;
  box-shadow:5px 15px 45px  #000000;
}

.home_content_a {
  position: absolute;
  top: 235px;
  left: 150px;

}

.home_content_b {
  position: absolute;
  top: 165px;
  right: 180px;
  color: #fc9935;
  font-size: 25px;
}

.selection {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.membersgames {
  margin: 25px;
  border-radius: 50px;
  padding: 20px;
  background-color: #7d43a3;
  color: #fc9935;
  box-shadow:5px 15px 45px  #000000;
}

.newgames {
  margin: 25px;
  border-radius: 50px;
  padding: 20px;
  background-color: #7d43a3;
  color: #fc9935;
  box-shadow:5px 15px 45px  #000000;
}

/* Account Creation */

input,
select,
textarea {
  border: 1px solid;
  border-radius: 5px;
}

.form-container {
  color: #7d43a3;
  }

.form-display {
  margin-bottom: 10px;
  margin-left: 90px;
}

.form-align {
  display: inline-block;
  width: 150px;
  text-align: right;
}

.account-form {
  padding: 5px;
  background-color: #7d43a3;
  color: #fc9935;
  margin-left: 300px;
  margin-right: 300px;  
}
input[type='text'] { 
  font-size: 24px;
  font-family:"Orange kid", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#fuckme {
  margin-left:225px;
}

#email-updates{
  margin-left:50px;
}

#creation-form {
  width: 200px;
}

#bio {
  width:200px;
  height: 100px;
}










/* Account */

.account {
  font-size: 1.5em;
  color: #7d43a3;
  height: 60vh;
}

.you {
  background-color: #7d43a3;
  color: #fc9935;
  margin: 25px;
  border-radius: 25px;
  background-color: #7d43a3;
  color: #fc9935;
  height: 50vh;
  width: 10vw;
  position: absolute;
  right: 5vw;
  top: 14vh;
}

.offer {
  background-color: #7d43a3;
  border-top-right-radius: 12vh;
  border-top-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
  border-bottom-left-radius: 12vh;
  margin: 25px;
  padding: 40px;
  background-color: #7d43a3;
  color: #fc9935;
  position: absolute;
  left: 5vw;
  top: 46vh;
}

/* Selected Game */

.game {
  display: flex;
  justify-content: space-around;
}

.gameinfo {
  color: #7d43a3;
  font-size: 1.5em;
  margin-left: 5vw;
}

.similar {
  border-top-right-radius: 12vh;
  border-top-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
  border-bottom-left-radius: 12vh;
  height: 20vh;
  background-color: #7d43a3;
  color: #fc9935;
  font-size: 2.5em;
}

/* Checkout page */

.order {
  color: #7d43a3;
}

.checkout {
  display: flex;
  justify-content: space-around;
  background-color: #7d43a3;
  padding: 40px;
  border-top-right-radius: 12vh;
  border-top-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
  border-bottom-left-radius: 12vh;
  color: #fc9935;
  font-size: 1.5em;
}

.complete {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

/* Contact page and support */

.faq {
  font-size: 1em;
  color: #7d43a3;
}

.support {
  background-color: #7d43a3;
  color: #fc9935;
}
