@font-face {
  font-family: "Crackman";
  src: url("../fonts/crackman.ttf") format("truetype");
  font-family: "Orange kid";
  src: url("../fonts/orange\ kid.ttf") format("truetype");
  font-family: "Youre gone";
  src: url("../fonts/youre\ gone.otf") format("truetype");
}

body {
  background-color: #fc9935;
}

h1 {
  font-family: "Crackman", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  font-family: "Youre gone", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h3 {
  font-family: "Orange kid", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  border-left: calc(2 * 49vw) solid #fc9935;
  border-bottom: 60px solid #5f2f80;
  border-top: 60px solid #5f2f80;
  border-right: 0px solid transparent;
  display: inline-block;
  margin-bottom: 60px;
}

.logo {
  position: absolute;
  top: 2vh;
  left: 1.5vw;
}

.cta-button {
  background-color: #5f2f80;
  color: #fc9935;
  border-top-right-radius: 12vh;
  border-top-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
  border-bottom-left-radius: 12vh;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 2vh;
  width: 92vw;
  height: 14vh;
}

.membersgames {
  background-color: #5f2f80;
  color: #bb7733;
}

.newgames {
  background-color: #5f2f80;
  color: #fc9935;
}

.support {
  background-color: #5f2f80;
  color: #fc9935;
}
