header {
  background-color: #5f2f80;
}

header a {
  color: #fc9935;
}

body {
  background: #fc9935;
}

.cta-button {
  background-color: #5f2f80;
  color: #fc9935;
}

.membersgames {
  background-color: #5f2f80;
  color: #fc9935;
}

.newgames {
  background-color: #5f2f80;
  color: #fc9935;
}

.support {
  background-color: #5f2f80;
  color: #fc9935;
}
